---
layout: page
title: Categories
---
<div id="tag_cloud" class="tags">
    {% for category in site.categories %}
    <a href="/categories/#{{ category[0] }}">{{ category[0] }}</a>
    {% endfor %}
</div>

{% for category in site.categories %}
<div class="one-tag-list">
    <h1 class="listing-seperator" id="{{ category[0] }}">
        <span class="tag-text">{{ category[0] }}</span>
    </h1>
    {% for post in category[1] %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p>
    </div>
    <hr>
    {% endfor %}
</div>
{% endfor %}
